// Общие стили писать тут
//=============================================================================================================================================

// Заголовки

.title-body {
    display: flex;
    flex-direction: column-reverse;
}

.title {
    font-weight: 600;
    line-height: 1.5;
    font-size: rem(36);
}

.sub-title {
    font-weight: 500;
    color: $mainOrange;
}

.text {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.87;
}

// Ссылки


// Элементы формы


// Прочее

p {
    font-weight: 300;
    line-height: 1.87;
}

.orange-text {
    color: #FF7527;
}

.small-text {
    font-weight: 700;
    font-size: rem(16);
}