// Общие стили писать тут
//=============================================================================================================================================

// Заголовки

.title {
    font-weight: 600;
    line-height: 1.5;
}

.sub-title {
    font-weight: 300;
    line-height: 1.87;
    color: rgba(32, 50, 57, 0.55);
}

// Ссылки


// Элементы формы


// Прочее

p {
    font-weight: 300;
    line-height: 1.87;
}

.orange-text {
    color: #FF7527;
}

.small-text {
    font-weight: 700;
    font-size: rem(16);
}