// страница home

.housing {
    margin-top: -22px;
    background-color: #EEEDDE;
    // .housing__container

    &__container {
        @media (max-width:$tablet) {
            position: relative;
        }
    }

    // .housing__body

    &__body {
        display: flex;
        padding: 60px 0;

        @media (max-width:$tablet) {
            &::after {
                content: "";
                width: 100%;
                height: 100%;
                background-color: #eeeddee3;
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        @media (max-width:$mobile) {
            padding: 30px 0;
        }
    }

    // .housing__info

    &__info {
        flex: 1 0 66%;

        @media (max-width:$tablet) {
            position: relative;
            z-index: 2;
            width: 100%;
        }


    }

    // .housing__title

    &__title {
        font-size: rem(56);

        &:not(:last-child) {
            margin-bottom: rem(24);
        }

        @media (max-width:$mobile) {
            font-size: 38px;
            line-height: 1.3;
        }
    }

    // .housing__text

    &__text {
        font-weight: 300;
        line-height: 1.87;
        color: rgba(32, 50, 57, 0.55);

        &:not(:last-child) {
            margin-bottom: rem(56);
        }

        @media (max-width:$mobile) {
            &:not(:last-child) {
                margin-bottom: rem(25);
            }
        }
    }

    // .housing__search-form

    &__search-form {

        margin-bottom: rem(56);

    }

    // .housing__plus

    &__plus {}

    // .housing__picture

    &__picture {
        flex: 0 0 34%;

        @media (max-width:$tablet) {
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }
}

.search-form {
    // .search-form__line

    &__line {
        position: relative;
        width: 100%;

        @media (min-width:$tablet) {
            width: 88%;
        }



        @media (min-width:$mobileSmall) {
            &::before {
                content: "\e904";
                font-family: "icons";
                font-size: 20px;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 24px;
                z-index: 1;
                color: #203239;
            }
        }

    }

    // .search-form__input

    &__input {
        position: relative;
        width: 100%;
        border-radius: 15px;
        padding: 23px 160px 23px 57px;
        font-weight: 300;
        color: rgba(32, 50, 57, 0.55);

        @media (max-width:$tablet) {
            padding-right: 70px;
        }

        &[placeholder] {
            text-overflow: ellipsis;
        }

        @media (max-width:$mobileSmall) {
            padding-left: 23px;
        }
    }

    // .search-form__button

    &__button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: rem(14);
        box-shadow: 0 6px 8px 0 rgba(32, 50, 57, 0.25);

        &:active {
            transform: translateY(-47%);
        }

        @media (max-width:$mobile) {
            span {
                display: none;
            }

            padding: 10px 15px;

            &::before {
                font-family: "icons";
                content: "\e902";
            }
        }

    }
}

.plus {
    // .plus__items

    &__items {
        display: flex;

        @media (max-width:$tablet) {
            gap: 20px;
        }

        @media (max-width:$mobile) {
            flex-direction: column;
        }
    }

    // .plus__item

    &__item {
        @media (min-width:$tablet) {
            flex: 0 0 149px;

            &:not(:last-child) {
                margin-right: rem(72);
            }
        }
    }

    // .plus__number

    &__number {
        font-weight: 600;
        font-size: rem(56);
        line-height: 0.7;
        color: #203239;
        display: flex;
        align-self: center;

        span {
            align-self: flex-end;
        }

        &:not(:last-child) {
            margin-bottom: 25px;
        }
    }

    // .plus__text

    &__text {
        color: $mainLightSilver;
        line-height: 1.87;
    }
}


/// section: stages
.stages {
    padding: rem(100) 0;

    @media (max-width:$tablet) {
        padding: rem(50) 0;
    }

    @media (max-width:$mobile) {
        padding: rem(30) 0;
    }

    // .stages__title

    &__title {
        font-size: rem(36);
        line-height: 1.5;

        &:not(:last-child) {
            margin-bottom: rem(64);
        }

        @media (max-width:$tablet) {
            &:not(:last-child) {
                margin-bottom: rem(30);
            }
        }

        @media (max-width:$mobile) {
            &:not(:last-child) {
                margin-bottom: rem(20);
            }
        }

        @media (max-width:$mobile) {
            font-size: rem(28);
        }
    }
}

.items-stages {
    margin: 0 -66px;

    @media (max-width:1167px) {
        margin: 0 -33px;
    }

    @media (max-width:$tablet) {
        margin: 0 -15px;
    }

    // .items-stages__items

    &__items {
        display: flex;

        @media (max-width:$tablet) {
            overflow: auto;
        }
    }

    // .items-stages__item

    &__item {
        flex: 0 0 33.333%;
        padding: 0 66px;
        min-width: 300px;

        @media (max-width:1167px) {
            padding: 0 33px;
        }

        @media (max-width:$tablet) {
            padding: 0 15px;
        }
    }

    // .items-stages__body


    &__body {
        position: relative;
        padding: 20px 34px;
        display: flex;
        flex-direction: column;
        height: 100%;
        border: 1px solid #fff;

        @media (max-width:$tablet) {
            border: 1px solid #eeedde;
            border-radius: 10px;
        }

        @media (max-width:$mobile) {
            padding: 20px 25px;
        }

        // .items-stages__body_active
        &_active {
            border: 1px solid #eeedde;
            border-radius: 10px;
        }
    }

    // .items-stages__number

    &__number {
        position: absolute;
        top: 20px;
        right: 20px;
        font-weight: 500;
        color: $mainOrange;
    }

    // .items-stages__content

    &__content {
        height: 100%;

        &:not(:last-child) {
            margin-bottom: rem(48);
        }
    }

    // .items-stages__title

    &__title {
        position: relative;
        font-weight: 500;
        line-height: 1.3;

        &:not(:last-child) {
            margin-bottom: rem(8);
        }

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: -36px;
            width: 8px;
            border-radius: 10px;
            height: 145%;
            background-color: #ff7527;
            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

            @media (max-width:$mobile) {
                left: -25px;
            }
        }
    }

    // .items-stages__text

    &__text {
        font-weight: 300;
        line-height: 1.87;
        color: $mainLightSilver;

        & p {
            &:not(:last-child) {
                margin-bottom: 10px;
            }
        }
    }

    // .items-stages__link

    &__link {
        align-self: flex-start;
        position: relative;
        font-weight: 500;
        line-height: 1.9;

        &::after,
        &::before {
            transition: all 0.3s ease;
        }

        &::after {
            @extend %ic;
            content: "\e902";
            margin-left: 8px;
            font-size: 14px;
            padding: 10px;
        }

        &::before {
            position: absolute;
            top: 0;
            left: -4.5%;
            content: "";
            width: 22.59%;
            height: 100%;
            background-color: #d6d5c7;
            z-index: -1;
        }

        @media (any-hover: hover) {
            &:hover {
                &::before {
                    width: 40%;
                }

                &::after {
                    margin-left: 12px;
                }
            }
        }

        // спорно! тестануть на мобилке
        &:active {
            &::before {
                width: 40%;
            }

            &::after {
                margin-left: 12px;
            }
        }
    }
}


.favorit-resident {
    padding: 68px 0;
    background: #eeedde;

    @media (max-width:$tablet) {
        padding: rem(50) 0;
    }

    @media (max-width:$mobile) {
        padding: rem(30) 0;
    }

    // .favorit-resident__container

    &__container {}

    // .favorit-resident__title-body

    &__title-body {
        &:not(:last-child) {
            margin-bottom: rem(64);
        }

        @media (max-width:$maxWidthContainer+"px") {
            &:not(:last-child) {
                margin-bottom: rem(35);
            }
        }

        @media (max-width:$mobile) {
            &:not(:last-child) {
                margin-bottom: rem(25);
            }
        }
    }

    // .favorit-resident__title

    &__title {}

    // .favorit-resident__sub-title

    &__sub-title {
        &:not(:last-child) {
            margin-bottom: rem(8);
        }
    }

    // .favorit-resident__body

    &__body {
        display: flex;

        @media (max-width:$mobile) {
            flex-direction: column;
        }
    }

    // .favorit-resident__picrure

    &__picrure {
        position: relative;
        height: 550px;
        width: 45%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        @media (max-width:$tablet) {
            height: 450px;
        }

        @media (max-width:$mobile) {
            width: 80%;
            height: 550px;
            align-self: center;

            &:not(:last-child) {
                margin-bottom: rem(25);
            }
        }

        @media (max-width:$mobileSmall) {
            width: 100%;
            height: 350px;
        }
    }

    &__picrure-one,
    &__picrure-two {
        position: absolute;
        border-radius: 12px;
        overflow: hidden;
    }

    &__picrure-one {
        top: 0;
        left: 0;
        width: 62.9%;
        height: 82.7%;
    }

    &__picrure-two {
        bottom: 0;
        right: 0;
        width: 68.1%;
        height: 89%;
        box-shadow: 0 7px 5px 0 rgba(0, 0, 0, 0.04), 0 23px 18px 0 rgba(0, 0, 0, 0.07), 0 102px 81px 0 rgba(0, 0, 0, 0.11);
    }

    // .favorit-resident__infomation

    &__infomation {}
}


.infomation-resident {
    flex: 1 0 55%;

    padding-left: 64px;

    @media (max-width:$tablet) {
        padding: 0 0 0 45px;
    }

    @media (max-width:$mobile) {
        padding: 0;
    }

    // .infomation-resident__title

    &__title {
        @media (min-width:$mobile) {
            margin-right: 70px;
        }

        &:not(:last-child) {
            margin-bottom: rem(24);
        }
    }

    // .infomation-resident__text

    &__text {
        margin-right: 10px;

        &:not(:last-child) {
            margin-bottom: rem(48);
        }
    }

    // .infomation-resident__buttons

    &__buttons {
        display: flex;
        flex-wrap: wrap;
        gap: 48px;

        @media (max-width:$maxWidthContainer+"px") {
            gap: 20px;
        }

        @media (max-width:$mobileSmall) {
            flex-direction: column;
        }
    }

    // .infomation-resident__button

    &__button {
        display: inline-block;
        display: flex;
        align-items: center;
        text-align: center;

        &::before {
            font-size: 24px;
            margin-right: 12px;
        }

        @media (any-hover: hover) {
            &:hover {
                background-color: $mainOrange;
                //color: #fff;
                border-color: $mainOrange;
                opacity: 1;
            }
        }

        @media (max-width:$mobile) {
            padding: 14px 12px;
            text-align: center;
            align-self: center;
            width: 100%;
            justify-content: center;
        }

        // .infomation-resident__button_white

        &_white {
            background-color: inherit;
            color: $mainColor;

            @media (any-hover: hover) {
                &:hover {
                    background-color: $mainColor;
                    border-color: $mainColor;
                    color: #fff;
                    opacity: 1;
                }
            }
        }
    }
}


.other-cities {
    padding: 68px 0;

    // .other-cities__header

    &__header {
        position: relative;
        display: flex;
        width: 100%;


        &:not(:last-child) {
            margin-bottom: 64px;
        }

        @media (min-width:1167px) {
            padding-right: 135px;
        }
    }

    // .other-cities__title-body

    &__title-body {
        flex: 0 1 100%;
        gap: 8px;
    }

    // .other-cities__title

    &__title {
        font-size: 36px;
    }

    // .other-cities__sub-title

    &__sub-title {}


    // .other-cities__navigations

    &__navigations {
        display: flex;
        align-self: flex-end;
        padding-bottom: 12px;
        padding-left: 30px;

        & .swiper-button-disabled {
            background: rgba(214, 213, 199, 0.3);
            color: rgba(255, 117, 39, 0.5);
            border: 1px solid rgba(214, 213, 199, 0.3);
        }

        @media (max-width:$mobile) {
            position: absolute;
            bottom: -50px;
            right: 0;
        }
    }

    // .other-cities__button

    &__button {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: rem(12);
        color: $mainOrange;
        border: 1px solid #d6d5c7;
        border-radius: 4px;
        width: 30px;
        height: 30px;
        transition: all 0.2s ease;


        &:not(:last-child) {
            margin-right: 30px;
        }


        @media (any-hover: hover) {
            &:hover {
                box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
            }
        }
    }

    // .other-cities__button-left

    &__button-left {}

    // .other-cities__button-right

    &__button-right {}

    // .other-cities__slider

    &__slider {}

    // .other-cities__wrapper

    &__wrapper {}

    // .other-cities__slide

    &__slide {}

    // .other-cities__photo

    &__photo {

        img {
            width: 100%;
            height: 100%;
        }

        &:not(:last-child) {
            margin-bottom: rem(16);
        }
    }

    // .other-cities__title

    &__link {
        font-weight: 500;
        font-size: 24px;
        line-height: 1.5;
        transition: color 0.3s ease;

        &:not(:last-child) {
            margin-bottom: rem(8);
        }

        /*срабатывает при клике пили переходе на tab */
        &:focus {
            outline: 2px solid #000;
            outline-offset: 3px;
        }

        @media (any-hover: hover) {
            &:hover {
                color: $mainOrange;
            }
        }

        /*удерживает кнопку мыши на элементе*/
        &:active {}
    }

    // .other-cities__text

    &__text {}
}




.feedback {
    background-color: #EEEDDE;
    padding: 48px 0;

    // .feedback__container

    &__container {
        display: flex;
    }

    // .feedback__left

    &__left {
        width: 55%;
    }

    // .feedback__title

    &__title {
        &:not(:last-child) {
            margin-bottom: 64px;
        }
    }

    // .feedback__items

    &__items {}

    // .feedback__right

    &__right {
        width: 45%;
        padding-left: 117px;
    }

    // .feedback__partners

    &__partners {
        display: flex;
    }

    // .feedback__partners-link

    &__partners-link {
        max-height: 103px;

        img {
            object-fit: contain;
            height: 100%;
        }

        &:not(:last-child) {
            margin-right: rem(32);
        }
    }
}


.item-feedback {
    display: flex;

    // .item-feedback__item

    &__item {
        border: 1px solid rgba(255, 117, 39, 0.5);
        border-radius: 10px;
        padding: 24px;
        display: flex;
        flex-direction: column;

        &:not(:last-child) {
            margin-right: rem(48);
        }
    }

    // .item-feedback__header

    &__header {
        display: flex;

        &:not(:last-child) {
            margin-bottom: rem(24);
        }
    }

    // .item-feedback__icon

    &__icon {
        padding: 4px 0;

        img {
            width: 48px;
            height: 48px;
        }

        &:not(:last-child) {
            margin-right: rem(16);
        }
    }

    // .item-feedback__content

    &__content {}

    // .item-feedback__label

    &__label {
        font-weight: 500;
        line-height: 1.5;

        &:not(:last-child) {
            margin-bottom: 8px;
        }
    }

    // .item-feedback__link

    &__link {}

    // .item-feedback__button

    &__button {
        display: inline-block;
        border-radius: 10px;
        padding: 13px 41px;
        background-color: #ff752733;
        color: #ff7527;
        border: none;
        align-self: center;

        &_orange {
            background: rgba(255, 117, 39, 0.8);
            color: #eeedde;
        }
    }
}